body {
    background-color: lightblue;
}
a {
    color: white ;
    text-decoration: underline;
    background-color: red;
    cursor: pointer;
}
.device-table {
    border-collapse: collapse ;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.device-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.device-table th,
.device-table td {
    padding: 12px 15px;
}

.device-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.device-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.device-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}     

.device-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}                

div.tabbar
{
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #404040;
}

div.tabcont
{
    visibility: visible;
}

.tabbar button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    color: white ;
}

.tabbar button:hover {
    background-color: #808080;
}

div.content {
    padding: 6px 12px;
    border: 4px solid #ccc;
    border-top: none;
}
