<mat-tab-group 
  [backgroundColor]="backgroundColor"
  [selectedIndex]="selectedIndex"
  (selectedIndexChange)="onTabChange($event)"
  [mat-align-tabs]="alignment"
  class="mtb-navigation">
  
  @for (tab of tabs; track tab.label; let i = $index) {
    <mat-tab 
      [label]="tab.label"
      [disabled]="tab.disabled || false">
      
      <!-- Tab content with icon support -->
      @if (tab.icon) {
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">{{ tab.icon }}</mat-icon>
          {{ tab.label }}
        </ng-template>
      }
      
      <!-- Tab content area -->
      <div class="tab-content">
        @switch (i) {
          @case (0) {
            <div class="tab-panel">
              @if (tab.component === 'GettingStarted') {
                <app-getting-started></app-getting-started>
              } @else {
                <div class="placeholder-content">
                  <h2>{{ tab.label }}</h2>
                  <p>Content coming soon...</p>
                  <mat-icon>construction</mat-icon>
                </div>
              }
            </div>
          }
          
          @case (1) {
            <div class="tab-panel">
              @if (tab.component === 'CreateProject') {
                <app-create-project></app-create-project>
              } @else {
                <div class="placeholder-content">
                  <h2>{{ tab.label }}</h2>
                  <p>Content coming soon...</p>
                  <mat-icon>construction</mat-icon>
                </div>
              }
            </div>
          }
          
          @case (2) {
            <div class="tab-panel">
              @if (tab.component === 'ApplicationStatus') {
                <app-application-status></app-application-status>
              } @else {
                <div class="placeholder-content">
                  <h2>{{ tab.label }}</h2>
                  <p>Content coming soon...</p>
                  <mat-icon>construction</mat-icon>
                </div>
              }
            </div>
          }
        }
      </div>
    </mat-tab>
  }
  
  <!-- Fallback when no tabs are provided -->
  @if (tabs.length === 0) {
    <mat-tab label="No Content" disabled>
      <div class="no-tabs-message">
        <mat-icon>info</mat-icon>
        <p>No tabs configured</p>
      </div>
    </mat-tab>
  }
</mat-tab-group>
